@charset "utf-8";
body {
	background: #fffeec;
}
/*=================页头=================*/
#indexTop {
	width: 980px;
	height: 509px;
	margin: 0 auto;
}
#indexTop .logo {
	width: 337px;
	height: 118px;
	background: url(../images/logo.jpg) no-repeat;
	top: 15px;
	left: 5px;
}
#indexTop .banner_index {
	width: 980px;
	height: 364px;
	background: url(../images/banner_index.jpg) no-repeat;
	left: 3px;
	top: 144px;
}
#indexTop .cloud_01 {
	width: 36px;
	height: 25px;
	background: url(../images/cloud_01.jpg) no-repeat;
	left: 436px;
	top: 36px;
}
#indexTop .cloud_02 {
	width: 22px;
	height: 15px;
	background: url(../images/cloud_02.jpg) no-repeat;
	left: 745px;
	top: 59px;
}
#indexTop .add {
	width: 561px;
	height: 18px;
	background: url(../images/add.jpg) no-repeat;
	left: 397px;
	top: 89px;
}
/*=================页中=================*/
#wrap {
	width: 960px;
	height: 467px;
	margin: 0 auto;
	padding-top: 32px;
}
/*---------首页-第一列---------*/
#wrap .col_01 {
	width: 303px;
	padding-left: 20px;
}
#wrap .col_01 .notice {
	background: url(../images/notice_pic.jpg) right bottom no-repeat;
	height: 174px;
}
#wrap .col_01 .notice h1 {
	width: 283px;
	height: 26px;
	background: url(../images/notice_title.jpg) no-repeat;
}
#wrap .col_01 .notice ul {
	margin-top: 12px;
}
#wrap .col_01 .notice ul li {
	margin-top: 5px;
	width: 140px;
	height: 26px;
	background: url(../images/dotted.jpg) 0 11px no-repeat;
	border-bottom: 1px solid #e1dfe2;
}
#wrap .col_01 .notice ul li a, #wrap .col_01 .notice ul li a:hover {
	font-size: 16px;
	color: #666;
	margin-left: 10px;
}
#wrap .col_01 .col_01_img01 {
	margin-top: 32px;
}
/*---------首页-第二列---------*/
#wrap .col_02 {
	width: 318px;
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}
#wrap .col_02 .leader {
	width: 282px;
	margin-left: 18px;
}
#wrap .col_02 .leader h1 {
	width: 282px;
	height: 26px;
	background: url(../images/leader_title.jpg) no-repeat;
}
#wrap .col_02 .leader ul {
	margin-top: 12px;
}
#wrap .col_02 .leader ul li {
	margin-top: 5px;
	height: 26px;
	background: url(../images/dotted.jpg) 0 11px no-repeat;
	border-bottom: 1px dashed #e1dfe2;
}
#wrap .col_02 .leader ul li a, #wrap .col_01 .notice ul li a:hover {
	font-size: 16px;
	color: #666;
	margin-left: 10px;
}
#wrap .col_02 .leader span {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	float: right;
	margin-top: 5px;
}
#wrap .col_02 .active {
	margin-top: 42px;
	margin-left: 18px;
	width: 282px;
	height: 203px;
	background: url(../images/active_pic.jpg) right bottom no-repeat;
}
#wrap .col_02 .active h1 {
	width: 282px;
	height: 26px;
	background: url(../images/active_title.jpg) no-repeat;
}
#wrap .col_02 .active p {
	margin-top: 14px;
	margin-bottom: 17px;
	color: #666;
	font-size: 14px;
}
#wrap .col_02 .active ul {
	width: 142px;
	height: 177px;
}
#wrap .col_02 .active ul li {
	float: left;
	margin-left: 6px;
}
#wrap .col_02 .active ul li img {
	border: 2px solid #fff;
}
/*---------首页-第三列---------*/
.wrap .col_03 {
	width: 318px;
}
#wrap .col_03 .news {
	width: 282px;
	margin-left: 18px;
}
#wrap .col_03 .news h1 {
	width: 282px;
	height: 26px;
	background: url(../images/news_title.jpg) no-repeat;
}
#wrap .col_03 .news ul {
	margin-top: 12px;
}
#wrap .col_03 .news ul li {
	margin-top: 5px;
	height: 26px;
	background: url(../images/dotted.jpg) 0 11px no-repeat;
	border-bottom: 1px dashed #e1dfe2;
}
#wrap .col_03 .news ul li a, #wrap .col_01 .notice ul li a:hover {
	font-size: 16px;
	color: #666;
	margin-left: 10px;
	display: inline-block;
	width: 176px;
}
#wrap .col_03 .news span {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	float: right;
	margin-top: 5px;
}
#wrap .col_03 .col_03_pic01 {
	width: 119px;
	border-right: 1px solid #e6e6e6;
}
#wrap .col_03 .col_03_pic01, #wrap .col_03 .col_03_pic02 {
	margin-top: 53px;
	margin-left: 40px;
}

/*=================页尾=================*/
#footer_wrap {
	width: 100%;
	height: 121px;
	background: #76bb6a;
}
#footer_wrap .footer {
	width: 960px;
	height: 121px;
	margin: 0 auto;
}
#footer_wrap .footer .footermenu {
	width: 385px;
	height: 62px;
	margin-top: 18px;
	font-size: 12px;
}
#footer_wrap .footer .footermenu ul {
}
#footer_wrap .footer .footermenu ul li {
	width: 64px;
	float: left;
	border-right: 1px solid #fff;
	margin-bottom: 12px;
}
#footer_wrap .footer .footermenu ul li.bdn {
	width: 64px;
	float: left;
	border-right: none;
	margin-bottom: 12px;
}
#footer_wrap .footer .footermenu ul li a, #footer .copyright .footermenu ul li a:hover {
	color: #fff;
}
#footer_wrap .footer .contact {
	font-size: 12px;
	color: #fff;
	margin-top: 18px;
}
#footer_wrap .footer .contact span, #footer_wrap .footer .contact p {
	display: block;
	text-align: right;
}
